<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>
            {% block title %}
          Home
          {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% endblock %}
      </head>
      <body style="background-image: url('https://news.illinois.edu/files/6367/797226/154472.jpg'); background-repeat:no-repeat;
       background-size:cover;">

        <a target="_blank">
        </a>
        {% block content %} {% endblock %}
      </body>
</html>