<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    {% extends "layout.html" %}
    <body>
        {% block content %}
        WELCOME
        {% endblock %}
      {% block footer %}
      <p>
          <form action = "" method = "POST"
         enctype = "multipart/form-data">
            <br><br>
            <label>Upload</label>
            <input type = "file" name = "file" />
           <!-- <label>Enter URL</label>
            <input type="url" name="link">-->
         <input type = "submit" value = "Upload"/>
      </form>
      </p>
      {% endblock %}
</body>
</html>